{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": 2
      }
    ],
    "jest"
  ],
  "env": {
    "test": {
      "plugins": [
        ["@babel/plugin-transform-runtime"]
      ]
    }
  }
}
