/*
0 COMMON
1. HOME
  1.1 HEADER
  1.2 FOOTER
  1.3 TOP
2. CHANNEL
3. REGISTER, LOGIN
4. WATCH
5. SETTING
  5.1 PROFILE
  5.2 SECURITY
6. FRIEND
*/

/* === 0 COMMON ===*/
body{
  background-color: black !important;
  height: 100vh;
}
p{
  color: white;
  text-decoration: none;
  margin: 0 !important;
}
.wrapper{
  height: 100%;
  background-color: black;
  display: flex;
  position: relative;
}
.nav_link, .nav_link:hover{
  text-decoration: none;
  color: white;
}
a{
  text-decoration: none !important;
}
.side{
  display: flex;
}
.alert{
  margin: 0;
  padding: 0 !important;
  color: rgb(255, 80, 80);
}
.notice{
  color: chartreuse;
  margin-bottom: 30px;
}
.not_show{
  display: none;
}

/* === 1.1 HEADER === */
.header, .navbar_header, .search, .search_input{
  display: flex;
  height: 50px;
}
.header{
  width: auto;
  background-color: black;
}
.logo{
  font-size: 20px;
  margin: auto 0;
}
.search_input{
  padding-top: 10px;
  padding-bottom: 10px;
}
.search_input .search_channel{
  width: 40px;
}
.search_input select{
  margin-right: 3px;
}
.search_input input{
  width: 300px;
  background-color: rgb(49, 49, 49);
  color: white;
  margin-right: 2px;
}
.search{
  margin: auto;
  width: auto;
}
.header_user{
  display: flex;
  width: auto;
  height: 50px;
  align-items: center;
}
.login, .register{
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  width: auto;
}
.login p, .register p{
  padding: 5px 10px;
  margin: 0;
}
.register{
  background-color: purple;
  margin: 0 10px;
}
.login:hover{
  background-color: gray;
}
.register:hover{
  background-color: rgb(190, 30, 190);
}
.btn-primary{
  height: 30px;
  background-color: gray !important;
  border-color: gray !important;
  font-weight: bold !important;
  line-height: 0 !important;
}
.whisper_box{
  display: none;
  position: absolute;
  background-color: rgb(40, 40, 40);
  width: 400px;
  z-index: 2;
  right: 40px;
  top: 50px;
  border-radius: 5px;
}
.whisper_box p{
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}
.user_icon{
  margin: 0 20px 0 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.icon_image{
  border-radius: 100%;
}
.user_each_menu{
  color: white;
  padding: 5px
}
.current_user_menu{
  display: flex;
}
.current_user_menu p{
  line-height: 35px;
}
.current_user_menu img{
  margin-right: 10px;
}
.user_menu{
  display: none;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: black;
  z-index: 2;
}
.show{
  display: inline-block;
  animation: display 0.3s;
}
.side_nav{
  position: relative;
  height: 20px;
  width: 28px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  margin: auto 20px;
  cursor: pointer;
}
.menu{
  position: absolute;
  height: 2px;
  width: 28px;
  display: inline-block;
  box-sizing: border-box;
  background-color: white;
}
.side_nav .menu:nth-of-type(1){
  bottom: 20px;
}
.side_nav .menu:nth-of-type(2){
  bottom: 10px;
}
.side_nav .menu:nth-of-type(3){
  bottom: 0;
}
.whisper, .layout{
  margin: auto 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.whisper:hover, .layout:hover, .user_each_menu:hover{
  background-color: rgb(50, 50, 50);
}
.fa-comment-alt, .fa-th-large{
  padding: 7px;
}
.whisper_box{
  padding: 10px;
}
.send_message, .whisper_form, #message{
  margin-top: 5px;
}
.send_user{
  display: flex;
}
.send_box input, .send_box textarea{
  width: 100%;
}
.send_receive, .each_message, .message{
  display: flex;
}
.select_whisper, .select_receive, .clear_message, .message{
  margin: 0 10px;
}
.whisper_message{
  font-weight: lighter !important;
}
.receive_message{
  margin: 0 10px;
}
.confirm{
  width: auto;
  height: 20px;
  margin: auto 0;
}
.receive_message p, .confirm_button p{
  text-align: start;
  font-weight: lighter !important;
}
#message_button{
  width: 100%;
  margin: 5px 0;
}
.receive_box{
  max-height: 350px;
  overflow: scroll;
  margin-top: 10px;
}
.confirm_button{
  display: inherit !important;
  height: 20px;
  padding: 2px !important;
  margin: 0;
}
.clear_button{
  height:25px;
  padding: 2px !important;
  margin: 0;
  vertical-align: middle !important;
}
.clear_button p{
  line-height: 20px;
}
.confirm_button p{
  line-height: 0;
  width: 32px;
  font-size: 13px;
  text-align: center;
}
.sidebar{
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: rgb(40, 40, 40);
  color: white;
  left: -250px;
  top: 50px;
  transition-duration: 0.3s;
  z-index: 2;
}
.slide{
  left: 0;
  width: 250px;
}
.top_menu{
  width: 250px;
  align-items: center;
}
.home:hover, .follow:hover{
  background-color: gray;
}
.sidebar_icons{
  color: white;
  padding: 15px 10px;
  display: flex;
}
.sidebar_icon{
line-height: 24px !important;
margin-right: 10px;
}
.follow{
  box-sizing: border-box;
  display: flex;
  min-height: 52px;
  padding: 5px 0;
}
.follow_name{
  display: flex;
}
.follow_image{
  margin: auto 5px;
}
.follow_content{
  margin: auto 0;
}

/* === 1.3 TOP === */
.main{
  width: 100vh;
  margin: 0 auto;
}
.platform{
  width: 520px;
  margin: 30px auto 0 auto;
}
.platform p{
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.platform input{
  margin: 5px auto;
}
.submit{
  display: block;
  margin: auto;
  width: 150px;
}
@keyframes display{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.youtube2, .youtube3, .youtube4, .twitch2, .twitch3, .twitch4{
  display: none;
}
.display{
  display: inline-block;
  animation: display 0.5s;
}

/* === 2. CHANNEL === */
.channel{
  display: flex;
}
.channel_wrapper{
  background-color: black;
  margin-left: 50px;
}
.channel_image img{
  border-radius: 50%;
  margin: 10px;
  width: 100px;
  height: 100px;
}
.channel_explanation{
  padding: 15px 0 0 40px;
}
.channel_name{
  display: flex;
}
.channel_name p{
  font-size: 20px;
  font-weight: bold;
}
#channel_name:hover{
  color: rgb(255, 100, 255);
}
.live_status{
  margin: 2px 0 2px 10px;
}
.live_status p{
  color: red;
  font-size: var(--bs-body-font-size);
}
.follow_channel{
  padding: 0 10px;
  margin-left: 30px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
}
.follow_form button, .unfollow_form button{
  vertical-align: middle;
  background-color: purple;
  border-radius: 5px;
  color: white;
  margin-left: 30px;
  height: 25px;
}
#follow_button{
  border-style: none;
}
.follow_form button:hover, .unfollow_form button:hover{
  background-color: rgb(255, 100, 255);
}

/* === 3. REGISTER, LOGIN === */
.register_wrapper, .login_wrapper{
  background-color: black;
  height: 100vh;
  padding-top: 20px;
}
.form_group{
  color: white;
  font-weight: bold;
  margin: 15px 0;
}
.form_group input{
  width: 300px;
}
.form-check-label{
  display: flex;
}
.login_title{
  width: 150px;
  margin: auto;
}
.register_information, .login_form{
  width: 300px;
  margin: auto;
}
.register_wrapper p, .login_wrapper p{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.form-check-label p{
  margin: 0 10px 0 0;
  padding: 0;
}
.form-check-input{
  margin: auto 0 !important;
}

/* === 4. WATCH === */
.wrap{
  width: 0;
  height: 0;
}
.hide{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

/* === 5.1 PROFILE === */
.setting_wrapper{
  margin: 30px auto;
  width: 600px;
}
.setting_tab{
  display: flex;
  margin: 20px 0;
}
.setting_title{
  font-weight: bold;
  font-size: 40px;
}
.security_tab:hover, .profile_tab:hover{
  border-bottom: 2px solid purple;
  cursor: pointer;
}
.security_tab, .profile_tab{
  padding-bottom: 2px;
  margin-right: 30px;
}
.underline{
  border-bottom: 2px solid purple;
}
.profile_image_title, .profile p, .address p, .security p{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.profile_image{
  margin: auto 0 auto 30px;
  height: 30px;
}
#update_image{
  width: 350px;
}
.title_username, .title_email, .title_password, .title_confirmation{
  margin: auto 20px auto 0;
  width: 180px;
}
.profile_box, .setting{
  width: 600px;
  background-color: rgb(40, 40, 40);
}
.update_btn{
  text-align: center;
}

/* === 6. FRIEND === */
.friends_wrapper{
  margin: 30px auto 0 auto;
}
.friend_form{
  height: auto;
  width: 325px;
  margin: auto;
}
.friends{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.friend_name, .friend_action{
  margin: auto 10px;
}
.friend_name p{
  font-size: larger;
  font-weight: bolder;
}
.friend_request{
  margin-left: 20px;
  vertical-align: bottom !important;
}
#whisper_button{
  margin-left: 30px;
}
.whisper_button, .friend_delete p{
  font-weight: bold;
}
